*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
    margin: 0;
    background-color: #DADADA;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
  }
  
  main{
      display: flex;
      flex-direction: column;
      justify-content: center; /* Centre les éléments horizontalement */
      gap: 12px;
      
  }

  p::first-letter {
    text-transform: uppercase;
}
  

h1 {
  font-family: 'Familjen Grotesk', sans-serif;
  margin-left: 100px;
  margin-bottom: 50px;
}

form label {
  margin-left: 20px;
}

form#filterForm {
  margin-bottom: 20px;
}

form#filterForm input, button {
  border-radius: 5px;
  border: 0.5px solid #1E5FC7;
  background-color: #D2E5E3;
  color: #1E5FC7;
  cursor: pointer;
  padding: 5px 10px 5px 10px

}

  .flex-item {
 width: 100%;
 border: solid 0.5px black;
 background-color: #97BAFE;
 border-radius: 22px;
 padding: 15px 15px;
 height: 145px;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.footer_abs{
  border-top: solid black 1px;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding-top:5px ;
}

  .flex-item p{
    margin: 0;
  }

  
  .nbr_abs {
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
    border: solid 0.5px black;
    border-radius: 22px;
    padding-top: 0;
  }

  .nbr_abs p {
    background-color: rgb(255, 195, 84);
    border-radius: 10px;
    width: fit-content;
    padding: 5px 10px 5px 10px;
    box-shadow: 4px 5px 5px rgb(162, 162, 162);
}
  

  

  /* Media query pour les écrans entre 600px et 700px */
@media screen and (min-width: 600px) and (max-width: 970px) {
    main{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: fit-content;
        margin-left: 12px; /* Ajouter une marge à gauche */
        margin-right: auto; /* Réinitialiser la marge à droite */      box-sizing: border-box; /* Inclut la marge dans le calcul de la largeur */
  
      }
   .flex-item{
    width: calc(33% - 12px); /* ajuste la largeur des éléments avec un espace entre eux */
}
}


@media (min-width:970px){
    main{
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-left: 12px; /* Ajouter une marge à gauche */
      margin-right: auto; /* Réinitialiser la marge à droite */      box-sizing: border-box; /* Inclut la marge dans le calcul de la largeur */

    }

    .flex-item{
        width: calc(20% - 12px); /* ajuste la largeur des éléments avec un espace entre eux */


    }
  }
  