*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #DADADA;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}




.navbar-mobile i {
  position: fixed;
  z-index: 11;
  top: 9px;
  left: 15px;
  font-size: 3rem;
  color: black;
  cursor: pointer;
  font-size: 1rem;
}

.modal {
  transition: left 0.9s; /* Change from top to left */
  background-color: #DADADA;
  height: 100vh;
  position: fixed;
  top: 0; /* Remove the initial negative top value */
  left: -100vw; /* Set initial left value to -100vw */
  width: 70%;
  z-index: 10;
}

.change-modal {
  left: 0; /* Change from top to left */
}

.navbar-mobile .navbar-mobile-list {
  display: flex;
  height: 100vh;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.navbar-mobile .navbar-mobile-list a {
  font-style: 5rem;
  font-weight: 500;
  color: #1e2337;
  padding-bottom: 1rem ;
  padding-left: 4rem;
  text-transform: capitalize;
}
.profil_img{
  width:45px !important;
  height:45px !important;
  border-radius: 100%;
  padding: 0 !important;
}

.navbar-mobile-list a:first-child{
  margin-top: 3rem;
}
.navbar-mobile .navbar-mobile-list a img {
 width: 20px;
 height: 20px;
 padding: 30px 30px 25px 0;
}

.navbar-mobile-list a:last-child{
  margin-top: auto;
  margin-left: auto;
}

.fa-xmark {
  z-index: 11;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black transparent background */
  z-index: 9; /* Place it below the modal */
}

.show-overlay {
  display: block;
  transition: opacity 0.9s; /* Add transition for opacity property */

}

.messagerie{
  position: absolute;
  top: 5;
  right: 15px;
  left: auto;
}

.messagerie img{
  width: 30px;
  height: 30px;
}

.desk_nav{
  display: none;
}


a {
  text-decoration: none;
  color: black;
}

a::first-letter {
  text-transform: uppercase;
}
.cours{
  font-weight: bold;
 }

.ariane {
  margin-left: 50px;
  margin-top: 20px;
  display: flex;

  font-style: italic;
}

.active {
  font-style: normal;
}

h1 {
  font-family: 'Familjen Grotesk', sans-serif;
  margin-left: 100px;
  margin-bottom: 50px;
}

.btn_abs {
  margin-left: 100px;
  background-color: white;
  border: 1px black solid;
  padding: 2px 5px 2px 5px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(154, 154, 154);
  transition: color .2s ease-in;
}

.btn_abs:hover {
  background-color: black;
  color: white;
  transition: color .2s ease-out;
}

.filtre_abs {
  margin-top: 50px;
  margin-left: 100px;
}

.filtre_abs input, button {
  padding: 5px 10px;
  border-radius: 5px;
  border: 0.5px solid black;
  cursor: pointer;
 
}

.voir_abs {
  margin-top: 20px;
  margin-left: 100px;
}

.enr_abs {
  margin-left: 100px;
}

.enr_abs input, select {
  padding: 5px;
  border-radius: 10px;
  border: 0.5px black solid;
}

.modif_abs {
  margin-left: 100px;
}

.modif_abs input {
  padding: 5px;
  border-radius: 10px;
  border: 0.5px black solid;
}

hr {
 border: 0.5px solid rgb(127, 127, 127);
 margin-left: 50px;
 margin-right: 20px;
}

p::first-letter {
  text-transform: uppercase;
}

h1::first-letter {
  text-transform: uppercase;
}

button:first-letter {
  text-transform: uppercase;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre les éléments horizontalement */
    gap: 20px;
    margin-bottom: 30px;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;



}

main p{
  margin: 0;

}

.flex-item {
  flex: 1;
  border: solid black 0.5px;
  border-radius: 22px;
  background-color: #97BAFE;
  padding: 15px 15px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*box-shadow: 6px 7px 7px 0px #adadad;*/

}

.last-item p {
  background-color: rgb(255, 195, 84);
  border-radius: 10px;
  width: fit-content;
  padding: 5px 10px 5px 10px;
  box-shadow: 4px 5px 5px rgb(162, 162, 162);
}

.last-item{
  order: -1;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.last-item h2 {
  margin-top: 0;
}


.footer_abs{
  border-top: solid black 1px;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding-top:5px ;
}

.detail{
  border: solid 0.5px black;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 20px;
  color: black;
  margin-left: 40px;
  box-shadow: 6px 4px 7px 0px #adadad;
  transition: background-color .5s ease-in 
}

.detail a::first-letter {
  text-transform: uppercase;
}

.detail:hover {
  background-color: black;
  color: white;
}

.actions{
  display: flex;
  justify-content: space-between;
}
.suppr, .mod{
  text-decoration: none;
  color: black;
}

.suppr{
  margin-top: 20px;
  background-color: red;
  border-radius: 5px;
  padding: 2px 5px;

}

.mod{
  margin-top: 20px;
  background-color: greenyellow;
  border-radius: 5px;
  padding: 2px 5px;
}


@media (min-width:970px){
  main{
    flex-direction: row;
  }
  .prof{
  flex-direction: column;
  max-width: 700px !important;
  margin: auto;
  }
}


