*,
*::before,
*::after {
  box-sizing: border-box;
}


body{
    margin: 0;
    overflow-x: hidden;
    background-color: #EAE9E9;
    ;
}

a {
    color: black;
    text-decoration: none;
 }
 h2{
    text-align: center;
 }
 
 .ariane {
    margin-left: 50px;
    margin-top: 20px;
    display: flex;
 
    font-style: italic;
 }
 
 .active {
    font-style: normal;
 }
 
 p::first-letter {
    text-transform: uppercase;
 }
 
 a::first-letter {
    text-transform: uppercase;
 }


form{
    display: flex;
    flex-direction: column;
}

#submit{
    width: fit-content;
    margin: 50px auto;
background-color: white;
    padding: 10px ;
    border: solid 1px black;
    border-radius: 10px;
    transition: color .4s ease-in ;
}

#submit:hover{
    cursor: pointer;
    font-style: italic;
    background-color: #3B3B3D;
color:white
}

textarea{
    background-color: transparent;
   height: 100px;
}

label{
    margin-top: 50px;
    margin-bottom: 10px;
}




input{
    width: 100%;
}

form{
    padding: 20px 40px;
background-color: white;
    max-width: 1000px;
    margin: 0 auto 30px;
}