*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
margin: 0;
overflow-x: hidden;
background-color: #D2E5E3;
font-family: sans-serif;
padding: 20px;
font-family: 'Montserrat', sans-serif;

}

main{
  border: solid #656563 0.5px;
  padding: 20px 20px 40px;
  border-radius: 22px;
  margin: auto;
  max-width: 400px;

}

h1 {
  font-family: 'Familjen Grotesk', sans-serif;
}

h2 {
  font-size: 1rem;
}

.modifier {
  width: 100%;
  display: flex;
  justify-content: center;
 
}

.modifier a {
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top:1px;
  padding-bottom:1px;
  border-radius: 5px;
  color: #000000;
  border: #656563 solid 1px;
  transition: background-color .2s ease-in
}

.modifier a:hover {
  background-color: #6565634d;
}



input, .nom{
  width: 100%;
  border-radius: 8px;
  border: solid 1px #BFCCCB;
  padding: 10px;
  margin-bottom: 3cqmin;
}

input{
  background-color: rgb(239, 239, 239);
  margin-top: 15px;

}

.nom{
  background-color: #D2E5E3;

}

form {
  font-size: 0.8rem;
  font-weight: 300;
}


#submit{
  width: fit-content !important;
  background-color: #D2E5E3;
  border-color:#3B7BE2 ;
  color: #3B7BE2;
  display: block;
  margin: auto;
  transition: background-color .2s ease-in ;

}

#submit:hover{
  cursor: pointer;
  background-color: #3B7BE2;
  color: #D2E5E3;

}


section{
  color:#3B3B3D;
  font-size: .8rem;
}

.photo{
display: block;
text-align: center;
}

img{
  border-radius: 50%;
  width: 100px;
height: 100px;
margin-bottom: 10px;
object-fit: cover;
}
